/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "DM Serif Display", serif;
}

p {
  font-family: "Public Sans", sans-serif;
}

input {
  font-family: "Public Sans", sans-serif;
}

::placeholder {
  font-family: "Public Sans", sans-serif;
}

button {
  font-family: "Public Sans", sans-serif;
}

body header, body section {
  background-color: #EDF3F8;
}

#gunel .container .section1 {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#gunel .container .section1 .image-form {
  width: 50vw;
}
#gunel .container .section1 .easy-to-implement {
  width: 50vw;
}
#gunel .container .section1 .easy-to-implement h1 {
  color: #36535b;
  font-family: "DM Serif Display";
  padding-bottom: 24px;
  width: 445px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.3;
}
#gunel .container .section1 .easy-to-implement p {
  font-family: "Public Sans";
  color: #6c8294;
  width: 445px;
  font-size: 15px;
  line-height: 28px;
  padding-bottom: 60px;
}
@media screen and (max-width: 992px) {
  #gunel .container .section1 {
    flex-direction: column;
    text-align: center;
  }
  #gunel .container .section1 .image-form {
    margin-right: 100px;
  }
  #gunel .container .section1 .easy-to-implement h1 {
    width: 573px;
  }
  #gunel .container .section1 .easy-to-implement p {
    width: 573px;
  }
}
#gunel .container .section2 {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#gunel .container .section2 .simple-ui-ux {
  width: 50vw;
  margin-left: 200px;
}
#gunel .container .section2 .simple-ui-ux h1 {
  color: #36535b;
  font-family: "DM Serif Display";
  padding-bottom: 24px;
  width: 445px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.3;
}
#gunel .container .section2 .simple-ui-ux p {
  font-family: "Public Sans";
  color: #6c8294;
  width: 445px;
  font-size: 15px;
  line-height: 28px;
  padding-bottom: 60px;
}
#gunel .container .section2 .phone-image {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#gunel .container .section2 .phone-image .phone1 {
  position: relative;
  left: 110px;
}
#gunel .container .section2 .phone-image .phone2 {
  position: relative;
}
@media screen and (max-width: 992px) {
  #gunel .container .section2 {
    flex-direction: column;
    text-align: center;
  }
  #gunel .container .section2 .simple-ui-ux {
    margin-left: 0;
  }
  #gunel .container .section2 .simple-ui-ux h1 {
    width: 573.5px;
  }
  #gunel .container .section2 .simple-ui-ux p {
    width: 573.5px;
  }
}/*# sourceMappingURL=main.css.map */